In [15]:
!pip install pandas

Requirement already satisfied: pandas in c:\python37.9\lib\site-packages (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in c:\python37.9\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\python37.9\lib\site-packages (from pandas) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python37.9\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python37.9\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
import os 
import pandas as pd

In [3]:
cwd = os.getcwd()
DIR_NAM = os.path.dirname(os.getcwd())
BASE_DIR = os.path.join(DIR_NAM,'7. Build a Data Science Pipeline')
DATA_DIR = os.path.join(BASE_DIR,'data')
DATA_DIR

'C:\\Users\\RPH\\Desktop\\Python-Projects\\7. Build a Data Science Pipeline\\data'

In [4]:
os.listdir(DATA_DIR)

['2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2006.csv',
 '2007.csv',
 '2008.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv']

In [14]:
my_items = [{'category':'Action','title':'Action Movie'},{'category':'thriller','title':'Thriller Movie'},{'category':'horror','title':'Horror Movie'}]


df = pd.DataFrame(my_items)
df

   category           title
0    Action    Action Movie
1  thriller  Thriller Movie
2    horror    Horror Movie

In [13]:
df['category']

0      Action
1    thriller
2      horror
Name: category, dtype: object

In [17]:
# to grab data index wise 
df.iloc[2]

category          horror
title       Horror Movie
Name: 2, dtype: object

In [24]:
my_data = os.path.join(DATA_DIR,'2019.csv')
my_data
# print(os.path.exists(my_data))

'C:\\Users\\RPH\\Desktop\\Python-Projects\\7. Build a Data Science Pipeline\\data\\2019.csv'

In [25]:
df2 = pd.read_csv(my_data)
df2

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,501,328","$858,373,000",30.7%,"$1,939,128,328",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
...,...,...,...,...,...,...,...
195,196,An Officer and a Spy,"$18,878,658",-,-,"$18,878,658",100%
196,197,Crayon Shin-chan: Honeymoon Hurricane - The Lo...,"$18,738,951",-,-,"$18,738,951",100%
197,198,Greta,"$18,653,107","$10,532,219",56.5%,"$8,120,888",43.5%
198,199,Peppa Celebrates Chinese New Year,"$18,653,040","$131,225",0.7%,"$18,521,815",99.3%
199,200,Black Christmas,"$18,529,730","$10,429,730",56.3%,"$8,100,000",43.7%